@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
}

header h1,
svg {
  color: #d04f4f;
  font-size: 36px;
  line-height: 46.87px;
  text-align: center;
  cursor: pointer;
}

#input-form {
  max-width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.search {
  background-color: #e7e7e7;
  border: none;
  cursor: pointer;
}

.tag {
  min-width: 107px;
  height: 37px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  color: white;
  margin: 0 10px 10px 0;
}

.close-tag {
  margin-left: 3px;
  cursor: pointer;
}

.btn {
  display: block;
  min-width: 170px;
  width: auto;
  height: 69px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  padding: 1.5rem;
  text-align: center;
  outline: none;
}

.input-search-dropdown {
  display: none;
  color: white;
  background: none;
  outline: none;
  border: 1px solid black;
  width: 205px;
}

.input-search-dropdown::placeholder {
  color: white;
  opacity: 0.7;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
}

.dropdown-menu {
  min-width: 170px;
  min-height: 69px;
  max-width: 92vw;
  width: auto;
  height: auto;
  border-radius: 0 5px 5px 5px;
  margin-top: -2px;
  padding: 10px 20px;
  transform: translate3d(0px, 69px, 0px) !important;
}

.dropdown-ingredient-item,
.dropdown-appliance-item,
.dropdown-ustensil-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 170px;
  min-height: 69px;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding-left: 5px;
}

.dropdown-ingredient-item:hover,
.dropdown-appliance-item:hover,
.dropdown-ustensil-item:hover {
  background: none;
}

.sort-item {
  min-width: 177px;
  width: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-img {
  height: 238px;
  border-radius: 5px 5px 0 0;
  background-color: #c7bebe;
}

.card-body {
  height: 238px;
  padding: 1rem;
  background-color: #e7e7e7;
}

.card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.text-ingredients {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
}

.text-ingredients dd {
  margin: 0;
  font-weight: 400;
}

.text-ingredients dd strong {
  font-weight: 700;
}

.text-description {
  height: 109px;
  font-size: 12px;
  line-height: 12px;
}

.card-text {
  max-height: 109px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 319px) {
  #dropdown-container {
    margin: auto 15px;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
  }
  .btn-group {
    margin-right: 0 !important;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-ingredient-item {
    gap: 1rem;
  }
  .btn {
    width: 100%;
  }
  .input-group {
    width: 2rem;
  }
  #input-form {
    height: 3rem;
  }
  #input-form::placeholder {
    font-size: 1rem;
  }
  .search {
    width: 3rem;
  }
  .input-search-dropdown {
    margin-left: -1.5rem;
    margin-right: -0.5rem;
  }
  .col-12 {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 92%;
  }
  .card-body {
    height: 100%;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown-ingredient-item,
.dropdown-appliance-item,
.dropdown-ustensil-item {
    display: block;
    justify-items: center;
  }
  .sort-item {
    min-width: 225px;
    width: 85%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-left: 0 !important;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  #dropdown-container {
    margin: auto 15px;
  }
  .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-ingredient-item {
    gap: 1rem;
  }
  .btn {
    width: 100%;
    padding: 22px;
  }
  .input-group {
    width: 2rem;
  }
  #input-form {
    height: 3rem;
  }
  #input-form::placeholder {
    font-size: 1rem;
  }
  .search {
    width: 3rem;
  }
  .input-search-dropdown {
    width: 182px;
  }
  .input-search-dropdown::placeholder {
    font-size: 1rem;
    margin-left: 0;
  }
  .col-12 {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 92%;
  }
  .card-body {
    height: 100%;
  }
  .dropdown-ingredient-item,
.dropdown-appliance-item,
.dropdown-ustensil-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .sort-item {
    width: 85%;
    height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .dropdown {
    display: flex;
    flex-wrap: wrap;
  }
  .dropdown-ingredient-item,
.dropdown-appliance-item,
.dropdown-ustensil-item {
    grid-template-columns: 1fr 1fr;
  }
  .sort-item {
    height: 1.5rem;
    width: 37vw;
    min-width: 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .col-12 {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 70vw;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 710px) and (max-width: 768px) {
  .dropdown-ustensil-item {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  .dropdown-ustensil-item {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 90vw;
  }
}

/*# sourceMappingURL=style.css.map */
